@import "tailwindcss";

@theme inline {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: ui-monospace, monospace;
}

@layer base {
  body {
    min-height: 100vh;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
  cursor: pointer;
}
